USE [master]
GO
/****** Object:  Database [QLChim]    Script Date: 20/07/2020 3:44:49 PM ******/
CREATE DATABASE [QLChim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLChim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLChim.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLChim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLChim_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLChim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLChim]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 20/07/2020 3:44:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[taikhoan] [nvarchar](20) NOT NULL,
	[matkhau] [nvarchar](20) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 20/07/2020 3:44:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[MaBV] [nvarchar](10) NOT NULL,
	[MaTV] [nvarchar](10) NULL,
	[NoiDung] [nvarchar](200) NULL,
	[Anh] [image] NULL,
 CONSTRAINT [PK_BAIVIET] PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHIM]    Script Date: 20/07/2020 3:44:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIM](
	[MaChim] [nvarchar](10) NOT NULL,
	[TenChim] [nvarchar](40) NULL,
	[MaCL] [nvarchar](10) NULL,
	[ThongtinChim] [nvarchar](200) NULL,
 CONSTRAINT [PK_Chim] PRIMARY KEY CLUSTERED 
(
	[MaChim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAICHIM]    Script Date: 20/07/2020 3:44:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICHIM](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAICHIM] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 20/07/2020 3:44:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[MaTV] [nvarchar](10) NOT NULL,
	[TenTV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_THANHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LOAICHIM] ON 

INSERT [dbo].[LOAICHIM] ([MaLoai], [TenLoai]) VALUES (1, N'Chim Yến Phụng')
INSERT [dbo].[LOAICHIM] ([MaLoai], [TenLoai]) VALUES (2, N'Chim Chích Chòe')
INSERT [dbo].[LOAICHIM] ([MaLoai], [TenLoai]) VALUES (3, N'Chim Họa Mi')
SET IDENTITY_INSERT [dbo].[LOAICHIM] OFF
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_THANHVIEN] FOREIGN KEY([MaTV])
REFERENCES [dbo].[THANHVIEN] ([MaTV])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_THANHVIEN]
GO
USE [master]
GO
